[submodule "comcat"]
	path = comcat
	url = https://github.com/ga-group/comcat
[submodule "un-locode"]
	path = un-locode
	url = https://github.com/ga-group/un-locode
[submodule "iso10383"]
	path = iso10383
	url = https://github.com/ga-group/iso10383
[submodule "region"]
	path = region
	url = https://github.com/ga-group/region
[submodule "ics"]
	path = ics
	url = https://github.com/ga-group/ics
